*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenir {
  max-width: 1200px;
  padding: 0 0px;
  margin: 0 auto;
}

.header {
  padding: 35px 0px;
  margin-top: -270px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 550px;
  gap: 50px;
  font-size: 18px;
}

.nav__link {
  text-decoration: none;
  color: black;
  opacity: 60%;
}

.nav__link2 {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav__item {
  display: none;
}

.text {
  max-width: 427px;
  max-height: 112px;
  font-weight: 700;
  font-size: 48px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 150px;
}

.text2 {
  max-width: 380px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  margin-top: 30px;
  opacity: 60%;
}

.button {
  border-radius: 180px;
  width: 200px;
  height: 56px;
  color: white;
  border: rgb(69, 143, 246);
  font-size: 18px;
  background: rgb(69, 143, 246);
  margin-top: 80px;
}

.img {
  margin-top: 150px;
}

.img2 {
  margin-top: -470px;
  margin-left: 700px;
}

.text3 {
  font-weight: 700;
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 150px;
  text-align: center;
}

.text4 {
  max-width: 952px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  margin-top: 30px;
  margin-left: 120px;
  text-align: center;
  opacity: 60%;
}

.chiziq {
  width: 56px;
  height: 2px;
  background: black;
  margin-left: 570px;
  margin-top: 30px;
}

.img3 {
  margin-left: -160px;
  margin-top: -150px;
}

.contenir2 {
  margin-top: -450px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.contenir3 {
  margin-top: -830px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.turt {
  width: 350px;
  height: 354px;
  background: white;
  margin-top: 80px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.frame {
  margin-left: 50px;
  margin-top: 50px;
}

.text5 {
  color: black;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  margin-left: 50px;
  margin-top: 30px;
}

.text6 {
  max-width: 266px;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  margin-top: 30px;
  margin-left: 50px;
  opacity: 60%;
}

.button2 {
  border-radius: 180px;
  width: 200px;
  height: 56px;
  color: rgb(69, 143, 246);
  border: 2px solid rgb(69, 143, 246);
  font-size: 18px;
  background: white;
  margin-top: 450px;
  margin-left: 470px;
}

.img4 {
  margin-top: 200px;
}

.text7 {
  max-width: 481px;
  max-height: 112px;
  font-weight: 700;
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 800px;
  margin-top: -430px;
}

.chiziq2 {
  width: 56px;
  height: 2px;
  background: black;
  margin-left: 800px;
  margin-top: 30px;
}

.text8 {
  max-width: 450px;
  max-height: 120px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 60%;
  margin-left: 800px;
  margin-top: 50px;
}

.button3 {
  border-radius: 180px;
  width: 200px;
  height: 56px;
  color: rgb(69, 143, 246);
  border: 2px solid rgb(69, 143, 246);
  font-size: 18px;
  background: white;
  margin-top: 50px;
  margin-left: 800px;
}

.text9 {
  max-width: 254px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-top: 180px;
}

.chiziq3 {
  width: 56px;
  height: 2px;
  background: black;
  margin-top: 50px;
}

.text10 {
  max-width: 370px;
  max-height: 120px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  opacity: 60%;
  margin-top: 50px;
}

.button4 {
  border-radius: 180px;
  width: 200px;
  height: 56px;
  color: rgb(69, 143, 246);
  border: 2px solid rgb(69, 143, 246);
  font-size: 18px;
  background: white;
  margin-top: 50px;
}

.img5 {
  margin-left: 300px;
  margin-top: -500px;
}

/*# sourceMappingURL=style.css.map */
